@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tennis Club</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="container">
    <header>
        @if (Model.Player == null)
        {
            <h1>Willkommen beim ASKÖ Bruck-Peuerbach</h1>
        }
        else
        {
            <h1>Willkommen @Model.Player.ToString()</h1>
        }
    </header>

    <!--#region navbar  -->
    <nav>
        <ul>
            @if (Model.Player == null)
            {
                <li>
                    <a href="#login">Login</a>
                </li>
            }
            else
            {
                <li>
                    <a href="#logout">Logout</a>
                </li>
            }
            <li>
                <a href="#court-reservation">Platz Reservierung</a>
            </li>
            @if (Model.Player != null)
            {
                <li>
                    <a href="#members">Mitglieder</a>
                </li>
            }
            @* <li> *@
            @*     <a href="#punch">Punsch</a> *@
            @* </li> *@
        </ul>
    </nav>
    <!--#endregion -->

    <!--#region Login/Logout  -->
    @if (Model.Player == null)
    {
        <form method="post" asp-page-handler="Login">
            <section id="login" class="category">
                <h2>Login</h2>
                <p>Melden Sie sich an, um persönliche Infos zu sehen</p>
                <button type="submit">Login</button>
            </section>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="Logout">
            <section id="logout" class="category">
                <h2>Logout</h2>
                <p>Log out of your account to protect your privacy.</p>
                <button type="submit">Logout</button>
            </section>
        </form>
    }
    <!--#endregion -->

    <!--#region Court Reservation  -->
    <section id="court-reservation" class="category">
        <h2>Platz Reservierung</h2>
        <p>Reservieren Sie sich jetzt Ihren Platz</p>
        <button onclick="window.location.href = 'https://tenniskalender.at/public/'">Jetzt Reservieren</button>
    </section>
    <!--#endregion -->

    <!--#region Court Grieskirchen  -->
    @if (Model.Player != null)
    {
        <form method="post" asp-page-handler="CourtPlanGrieskirchen">
            <section id="members" class="category">
                <h2>Grieskirchen</h2>
                <p>Hier sehen Sie den Hallenplan von Grieskirchen</p>
                <button type="submit">Hallenplan zeigen</button>
            </section>
        </form>
    }
    <!--#endregion -->

    @* <!--#region Punch  --> *@
    @* @if (Model.Player != null) *@
    @* { *@
    @*     <form method="post" asp-page-handler="Punch"> *@
    @*         <section id="punch" class="category"> *@
    @*             <h2>Punschstand</h2> *@
    @*             <p>Hier können Sie sich für den Punschstand eintragen</p> *@
    @*             <button type="submit">Zur Eintragung</button> *@
    @*         </section> *@
    @*     </form> *@
    @* } *@
    @* <!--#endregion --> *@

    <!--#region Members  -->
    @if (Model.Player != null)
    {
        <form method="post" asp-page-handler="ShowMembers">
            <section id="members" class="category">
                <h2>Mitglieder</h2>
                <p>Hier sehen Sie alle Mitglieder</p>
                <button type="submit">Mitglieder ansehen</button>
            </section>
        </form>
    }
    <!--#endregion -->

    <!--#region Settings  -->
    @if (Model.Player != null)
    {
        <form method="post" asp-page-handler="ShowSettings">
            <section id="members" class="category">
                <h2>Einstellungen</h2>
                <p>Hier sehen Sie Ihre persönlichen Einstellungen</p>
                <button type="submit">Einstellungen</button>
            </section>
        </form>
    }
    <!--#endregion -->

    <footer>
        <p>&copy; 2024 Tennis Club. All Rights Reserved.</p>
    </footer>
</div>
</body>
</html>