@page
@model TennisBruck.Pages.Members

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="css/members.css">
</head>
<body>
<div class="members-container">
    <div class="members-box">
        <h2>Members List</h2>
        <form method="post">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    @* Add column for delete button if admin *@
                    @if (Model.LoggedInPlayer.IsAdmin)
                    {
                        <th>Action</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var player in Model.AllPlayers)
                {
                    <tr>
                        <td>@player.Id</td>
                        <td>@player.Firstname</td>
                        <td>@player.Lastname</td>
                        @if (Model.LoggedInPlayer.IsAdmin)
                        {
                            <td>
                                <button name="playerId" value="@player.Id" type="submit" asp-page-handler="DeleteUser">Löschen</button>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>