@page
@model TennisBruck.Pages.Registration

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="register-container">
    <div class="register-box">
        <h2>Registrieren</h2>
        <form method="post">
            <!-- VorscoreType Input -->
            <div class="input-group">
                <input placeholder="VorscoreType" id="firstname" type="text" name="firstscoreType" required>
            </div>
            <!-- NachscoreType Input -->
            <div class="input-group">
                <input placeholder="NachscoreType" id="lastname" type="text" name="lastscoreType" required>
            </div>
            <!-- BenutzerscoreType Input -->
            <div class="input-group">
                <input placeholder="BenutzerscoreType" id="username" type="text" name="userscoreType" required>
            </div>
            <!-- Email/Phone Input -->
            <div class="input-group">
                <input placeholder="E-Mail oder Telefonnummer" type="text" name="emailOrPhone" required>
            </div>
            <!-- Passwort Input -->
            <div class="input-group">
                <input placeholder="Passwort" type="password" name="password" required>
            </div>
            <!-- Error Message -->
            <div id="message" class="error-Message">@Model.ErrorText</div>
            <br>
            <!-- Submit Button -->
            <button asp-page-handler="Register" type="submit">Registrieren</button>
        </form>
    </div>
</div>
</body>
</html>
