@page
@using Sprache
@model TennisBruck.Pages.ResetPassword

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="css/resetPassword.css">
</head>
<body>
<div class="container">
    <div class="reset-password-box">
        <h1>Passwort zurücksetzen</h1>
        @if (!string.IsNullOrEmpty(Model.ErrorText))
        {
            <div class="error-Message">@Model.ErrorText</div>
        }
        <form method="post" asp-page-handler="ResetPassword">
            <input type="password" name="NewPassword" placeholder="Neues Passwort" required>
            <input type="password" name="ConfirmPassword" placeholder="Passwort bestätigen" required>
            <button type="submit">Passwort zurücksetzen</button>
        </form>
    </div>
</div>
</body>
</html>